table {
    border:solid #818479 2px;
    border-radius:25px;
    padding: 1%;
    margin: 1% 1% 1% 1%;
    background-color: #D2E4C4;
    width: 98%;
    border-collapse: separate;
}

table td {
    padding: 0px 10px 0px 10px;
    border-top: solid #818479 2px;
}

h1{
    text-decoration: none;
    color: #0F0F0F;
    font-size: 5em;
    font-family: 'Merienda One', cursive;
    text-align: center;
}


body {
    color: #0A100D;
    background-color: #FBFBFB;
    font-family: 'Quicksand', sans-serif;
}

.menu {
    width: 80%;
    margin: 0px 10% 0px 10%;
    font-size: 2em;
    text-transform: capitalize;
    border: none none none none;
}

.menu tr td {
    border: none;
}



#title {
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    text-align: center;
}

#search {
    display: block;
    color: black;
    text-decoration: none;
    position: relative;
    text-align: center;
}

thead{
    font-size: 1.5em;
    text-align: center;
    text-transform: capitalize;
}

.new_input_data{
    width: 80%;
    margin: 0px 10% 0px 10%;
    font-size: 2em;
    text-transform: capitalize;
    border: none;
    text-align: center;
}

.new_input_data tr td{
    border: none
}

.title_input, .question_input, .button{
    border-radius: 25px;
    padding: 10px;
}

.answer_on_question{
    margin-left: 10%;
    margin-right: 1%;
    max-width: 89%;
}

.comments{
    margin-left: 30%;
    margin-right: 1%;
    max-width: 69%;
}