<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset='utf-8'>
            <title>Add Tag</title>
    </head>
    <body>
        <h1>Question Title: {{question_for_display['title']}}</h1>
        <h2>Message: {{question_for_display['message']}}</h2>
        <p>Tags:</p>
        <form action="/question/{{ question_id }}/new-tag" method="post" enctype=multipart/form-data>
        <p>
            <label for="title">New tag</label><br>
            <input type="text" name="submit_new_tag" id="title">
            <button type="submit_new_tag">Submit new tag</button>
        </p>
        <form>
            <input list="tags" name="submit_existing_tag">
            <datalist id="tags">
                {% for tag_index in range(number_of_tags) %}
                    {% for tag in tags_for_choose[tag_index].values() %}
                        <option value= {{ tag }}>
                    {% endfor %}
                {% endfor %}
            </datalist>
            <button type="submit_existing_tag">Submit existing tag</button>
        </form>
    </body>
</html>