<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AskMate</title>
    </head>
    <body>
        <h1>Questions</h1>
        <a href="/question">Add new question</a>
        <table border="1">
            <thead>
                <tr>
                    {% for header_item in question_dictionary_list[0].keys() %}
                        {% if direction == 'desc' %}
                        <th><a href="/list?order_by={{ header_item }}&order_direction=asc">{{header_item}}</a></th>
                        {% else %}
                        <th><a href="/list?order_by={{ header_item }}&order_direction=desc">{{header_item}}</a></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for row in question_dictionary_list %}
                        {% for header_item in row.keys() %}
                            {% if  header_item == 'id' %}
                                <td align="center"><a href="/question/{{row[header_item]}}">{{row[header_item]}}</a></td>
                            {% elif header_item == 'image' %}
                                <td><a href="{{ row[header_item] }}"><img src="{{ row[header_item] }}" height="150px" width="150px"></a></td>
                            {% elif header_item== 'message' %}
                                <td style="text-align: justify">{{row[header_item]}}</td>
                            {% else %}
                                <td align="center">{{row[header_item]}}</td>
                            {% endif %}
                        {% endfor %}
                        <td><a href="/question/{{ row['id'] }}/vote_up"><img src="{{url_for('static', filename='img/up.png')}}" height="20px" width="20px"></a></td>
                        <td><a href="/question/{{ row['id'] }}/vote_down"><img src="{{url_for('static', filename='img/down.png')}}" height="20px" width="20px"></a></td>
                </tr>
                    {% endfor %}

            </tbody>
        </table>
    </body>
</html>
