<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AskMate</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/buttons.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
</head>
<body>
<a href="/" id="nodecoration"><h1>Questions</h1></a>
<table class="menu">
    <tr>
        <td><a href="/question" class = "round-button">Add new question</a></td>
        <td>{% include 'search.html' %}</td>
        <td>
            {% if first_five == 'first five' %}
            <p><a href="/list" class = "round-button">To all questions</a></p>
            {% endif %}
        </td>
    </tr>
</table>

<h1>Nem is</h1>


{% if not answer_dictionary_list %}
    <table width="100%">
    <thead class="table_header">
    <tr>
        {% for header_item in question_dictionary_list[0].keys() %}
            {% if direction == 'desc' %}
                <th><a href="/list?order_by={{ header_item }}&order_direction=asc" class = "square-button">{{ header_item }}</a></th>
            {% else %}
                <th><a href="/list?order_by={{ header_item }}&order_direction=desc" class="square-button">{{ header_item }}</a></th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
{% endif %}
{% for row in question_dictionary_list %}
    {% if answer_dictionary_list %}
        <table width="100%">
        <thead class="table_header">
        <tr>
            {% for header_item in question_dictionary_list[0].keys() %}
                {% if direction == 'desc' %}
                    <th>{{ header_item }}</th>
                {% else %}
                    <th>{{ header_item }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
    {% endif %}
<tbody class="rounded_corner">
<tr>

    {% for header_item in row.keys() %}
        {% if  header_item == 'id' %}
            <td align="center"><a href="/question/{{ row[header_item] }}?vote_up=1" class = "list-id">{{ row[header_item] }}</a></td>
        {% elif header_item == 'image' %}
            {% if row['image'][-4:] == '.png' or row['image'][-4:] == '.jpg' or row['image'][-4:] == '.gif' or row['image'][-5:] == 'jpeg' %}
                <td><a href="{{ row[header_item] }}"><img src="{{ row[header_item] }}" height="150px"
                                                          width="150px"></a>
                </td>
            {% else %}
                <td><img src="{{ url_for('static', filename='img/no-image-available.png') }}" height="20px" width="20px"></td>
            {% endif %}
        {% elif header_item== 'message' %}
            {% if search %}
                <td style="text-align: justify"><p>{{ row[header_item] | safe }}</p></td>
            {% else %}
                <td style="text-align: justify"><p>{{ row[header_item] }}</p></td>
            {% endif %}
        {% else %}
            {% if search %}
                <td align="center">{{ row[header_item] | safe }}</td>
            {% else %}
                <td align="center">{{ row[header_item] }}</td>
            {% endif %}
        {% endif %}
    {% endfor %}
    <td><a href="/question/{{ row['id'] }}/vote_up"><img
            src="{{ url_for('static', filename='img/up.png') }}"
            height="20px" width="20px"></a></td>
    <td><a href="/question/{{ row['id'] }}/vote_down"><img
            src="{{ url_for('static', filename='img/down.png') }}" height="20px" width="20px"></a></td>
    </div>
</tr>
{% if answer_dictionary_list %}

    {% if row['id'] in question_ids %}
        </tbody>
        </table>
        <table width="90%" style="margin-left: 10%">
        <thead class="table_header">
        <tr>
            {% for header_item in answer_dictionary_list[0].keys() %}
                {% if header_item != 'question_id' %}
                    <th>{{ header_item }}</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
    {% endif %}
    {% for answer in answer_dictionary_list %}
        {% if row['id'] == answer['question_id'] %}
            <tbody>
            <tr>
                {% for header_item in answer %}
                    {% if  header_item == 'id' %}
                        <td><a href="/answer/{{ answer[header_item] }}">{{ answer[header_item] }}</a>
                        </td>
                    {% elif header_item == 'image' %}
                        <td><a href="../{{ answer[header_item] }}"><img
                                src="../{{ answer[header_item] }}" height="150px"
                                width="150px"></a></td>
                    {% elif header_item != 'question_id' %}
                        <td>{{ answer[header_item] | safe }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="/answer/{{ answer['id'] }}/vote_up"><img
                        src="{{ url_for('static', filename='img/up.png') }}"
                        height="20px" width="20px"></a></td>
                <td><a href="/answer/{{ answer['id'] }}/vote_down"><img
                        src="{{ url_for('static', filename='img/down.png') }}" height="20px"
                        width="20px"></a></td>
                <td><a href='/answer/{{ answer['id'] }}/new-comment'>Add new comment to answer</a></td>
            </tr>
            </tbody>
        {% endif %}
    {% endfor %}
{% endif %}

{% endfor %}

</tbody>
</table>
</body>
</html>