<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List tags</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/buttons.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

</head>
<body>
{% if user == 'not logged in' %}
    <h3 id="user">{{ user }}</h3>
{% else %}
    <h3 id="user">Logged in as: {{ user }}</h3>
{% endif %}
<a href="/" id="nodecoration"><h1>Questions</h1></a>
<table class="menu">
    <tr>
        <td><a href="/question" class="round-button">Add new question</a></td>
        <td>{% include 'search.html' %}</td>
        <td>
            <p><a href="/list" class="round-button">To all questions</a></p>
        </td>
    </tr>
</table>
<table>
    <thead>
    <tr>
        {% for header in tags[0] %}
            <td>{{ header }}</td>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
        <tr>
            {% for element in tag %}
                <td>{{ tag[element] }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>
</html>