<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AskMate</title>
    </head>
    <body>
        <h1>Questions</h1>
        <a href="/question">Add new question</a>
        <table>
            <thead>
                <tr>
                    {% for header_item in header %}
                        {% if direction == 'desc' %}
                        <th><a href="/list?order_by={{ header_item }}&order_direction=asc">{{header_item}}</a></th>
                        {% else %}
                        <th><a href="/list?order_by={{ header_item }}&order_direction=desc">{{header_item}}</a></th>
                        {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for question_item in question_dictionary_list %}
                        {% for header_item in header %}
                            {% if  header_item == 'id' %}
                                <td><a href="/question/{{question_item[header_item]}}">{{question_item[header_item]}}</a></td>
                            {% else %}
                                <td>{{question_item[header_item]}}</td>
                            {% endif %}
                        {% endfor %}
                        <td><a href="/question/{{ question_item['id'] }}/vote_up"><img src="{{url_for('static', filename='img/up.png')}}" height="20px" width="20px"></a></td>
                        <td><a href="/question/{{ question_item['id'] }}/vote_down"><img src="{{url_for('static', filename='img/down.png')}}" height="20px" width="20px"></a></td>
                </tr>
                    {% endfor %}

            </tbody>
        </table>
    </body>
</html>
