<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>AskMate-Add-Question</title>
    <link rel="stylesheet" type="text/css" href="../static/buttons.css">
</head>
{% if output_dict %}
    <h1 class="round-button">Edit question</h1>
    <form action="/question/{{ output_dict['id'] }}/edit" method="post" enctype=multipart/form-data>
        <p>
            <label for="id">Question ID</label><br>
            <input type="text" name="id" readonly value='{{ output_dict['id'] }}'>
        </p>
        <p>
            <label for="title" >Question Title</label><br>
            <input type="text" name="title" id="title" required minlength="5" value='{{ output_dict['title'] }}' class="title_input">
        </p>
        <p>
            <label for="question" >Question:</label><br/>
            <textarea name="message" cols="40" rows="6" class="question_input">{{ output_dict['message'] }}</textarea>
        </p>
        <p>
            <input type="file" name="file">
        </p>
        <p>
            <button type="submit" class="round-button">Submit question</button>
        </p>
    </form>
{% else %}
    <h1>Add new question</h1>
    <form action="/question" method="post" enctype=multipart/form-data>
        <p>
            <label for="title">Question Title</label><br>
            <input type="text" name="title" required minlength="5" class="title_input">
        </p>
        <p>
            <label for="question" >Question:</label><br>
            <textarea name="message" cols="40" rows="6" class="question_input"></textarea>
        </p>
        <p>
            <input type="file" name="file" ">
        </p>
        <p>
            <button type="submit" class="round-button">Submit question</button>
        </p>
    </form>
{% endif %}
</html>