<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Display Question</title>
    </head>
    <h1>Question Title: {{question_for_display['title']}}</h1>
    <table>
        <thead>
            <tr>
                {% for header_item in header %}
                    {% if header_item != 'title' %}
                        <th>{{header_item}}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% for header_item in header %}
                    {% if header_item != 'title' %}
                        <td>{{ question_for_display[header_item] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                {% for header_item in answer_header %}
                    {% if header_item != 'question_id' %}
                        <th>{{ header_item }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for answer in answer_for_display %}
                <tr>
                    {% for header_item in answer_header %}
                        {% if header_item != 'question_id' %}
                            <td>{{ answer[header_item] }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <body>
        <p>
            <a href="/question/">Edit displayed question</a>
        </p>
        <p>
            <a href="/">Go back to question list</a>
        </p>
    </body>
</html>
