<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}'s profile</title>
</head>
<body>
{% if user == 'not logged in' %}
    <h3 id="user">{{ user }}</h3>
    <h3 id="login"><a href="/login">Login</a></h3>
    <h3 id="login"><a href="/register">Register</a></h3>
{% else %}
    <h3 id="user">Logged in as: {{ user }}</h3>
    <h3 id = 'login'><a href="/logout">Logout</a></h3>
{% endif %}
<a href="/" id="nodecoration"><h1>Questions</h1></a>
<h1>{{ username }}'s profile</h1>
{{ reputation }}
{% if questions %}
    <table>
        <thead>
        <tr>
            {% for question in questions[0].keys() %}
                <td>{{ question }}</td>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                {% for item in question %}
                    {% if item == 'title' %}
                        <td><a href="../question/{{ question['id'] }}">{{ question[item] }}</a></td>
                    {% else %}
                    <td>{{ question[item] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if answers %}
    <table>
    <thead>
        <tr>
            {% for answer in answers[0].keys() %}
                <td>{{ answer }}</td>
            {% endfor %}
        </tr>
        </thead>
    <tbody>
        {% for answer in answers %}
            <tr>
                {% for item in answer %}
                    <td>{{ answer[item] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}
{% if comments %}
    <table>
    <thead>
        <tr>
            {% for comment in comments[0].keys() %}
                <td>{{ comment }}</td>
            {% endfor %}
        </tr>
        </thead>
    <tbody>
        {% for comment in comments %}
            <tr>
                {% for item in comment %}
                    <td>{{ comment[item] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}
</body>
</html>